/* @import './base.css'; */
@import 'vuetify/styles';
@import './theme.css';

@import 'tailwindcss';

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
} */

*{
  scrollbar-width: none;
}

/* body {
  background-color: #000;
} */

@font-face {
  font-family: 'Inter';
  src: url('@/assets/font/Inter.ttf');
}

@font-face {
  font-family: 'Inter-Italic';
  src: url('@/assets/font/Inter-Italic.ttf');
}

/* @font-face {
  font-family: 'din';
  src: url('@/assets/font/din-black.ttf');
} */

@font-face {
  font-family: 'din';
  src: url('@/assets/font/din.ttf');
}

@font-face {
  font-family: 'darker';
  src: url('@/assets/font/darker.ttf');
}

@font-face {
  font-family: 'aksarabaligalang';
  src: url('@/assets/font/aksarabaligalang.ttf');
}

@font-face {
  font-family: 'abhayaLibre';
  src: url('@/assets/font/abhayaLibre.otf');
}

@font-face {
  font-family: 'bebas';
  src: url('@/assets/font/bebas.otf');
}

@font-face {
  font-family: 'inter-bold';
  src: url('@/assets/font/inter-bold.ttf');
}

@font-face {
  font-family: 'Geist-Bold';
  src: url('@/assets/font/Geist-Bold.ttf');
}

@font-face {
  font-family: 'Geist';
  src: url('@/assets/font/Geist-Regular.ttf');
}


div,span,p{
  font-family: 'Geist', sans-serif;
}
